.item1 { grid-area: content; }
.item2 { grid-area: right; }

.grid-container {
  display: grid;
  grid-template-areas:
  'content content content right right right';
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}