.img-card {
    border-radius: 50%;
    width: 40px;
    height: 40px;
} 
.card:hover {
    transform: scale(1.01, 1.01);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
    opacity: 0.8;
}

.card {
    transform: scale(1.0, 1.0);
    transition-duration: 100ms;
    transition-timing-function: ease-out;
}