<div class="class container mt-4">
  <div class="class row">
    <div class="col-sm-8">
      <strong>User threads:</strong>
        <div class="container">
          <div *ngFor="let thread of threads" class="card m-4">
          <h5 class="card-header">
            {{ thread.title }}
          <button type="button" class="btn btn-md btn-secondary" (click)="deleteThread(thread.id)"><i class="fa fa-trash-o"></i></button>
          </h5>
          <div class="card-body"  [routerLink]="['/threads/', thread.id]">
            <p class="card-text">{{ thread.content }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <h4 class="text-center"> {{ user.username | titlecase }}'s Profile </h4>
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{ user.profilePhoto }}">
        <button class="btn btn-primary">Message</button>
        <div class="card-body">
          <div>
            <strong>Info</strong>
            <p>{{ user.info }}</p>
          </div>
          <div>
            <strong>Last Active:</strong>
            <p> {{ user.lastActive | date : "medium" }} </p>
          </div>
          <div>
            <strong>Member since:</strong>
            <p> {{ user.created | date : "medium" }} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
